---
layout: static-pages
title: Your Reading Adventure Awaits!
alt-text: "Woman on couch reading a book"
image-name: "Image by Seven Shooter (Unsplash.com)"
image-location: "/assets/images/reader.jpg"
---
<p>
  We are thrilled to be able to offer excerpts from the latest efforts of
  authors hailing from all over the world &mdash; and time. We count ourselves lucky
  to sponsor works of such spectacular insight, wit, wisdom, and foresight.

  Every one of these offerings hold great promise, bordering on or exceeding the
  minimal expectations of greatness. Who can forget the opening to Herman
  Melville's Moby Dick? Or the tension present in the first sentences of Bram
  Stoker's Dracula?

  Each post is from a just-released work, be it novel, poem, screenplay, or
  essay. Some works have been years, even decades, in the making, so we feel
  honored to be entrusted with presenting each one on this blog for your
  enjoyment.

  So make yourself a cup or glass of your favorite beverage, retire to your
  favorite spot, and kick back and enjoy!
</p>
<ul>
  {% for post in site.posts %}
  <li class="blog">
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    <small><b>
      {{ post.date | date: "%b %d, %Y" }} |
      {% assign author = site.authors | where: 'name', post.author | first %}
      {% if author %}
      <a class="blog-author" href="{{ site.baseurl }}{{ author.url }}">{{ post.author }}</a>
      {% endif %}
    </b></small>
    <p class="excerpt">
      {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
    </p>
  </li>
  {% endfor %}
  {% include pagination.html %}
</ul>
{% include pagination.html %}
