---
layout: static-pages
title: Tags
---

<section class="tags-page">
  <section class="posts">
    <h2 class="mb-dot5em center">Posts</h2>
    <div class="left">
      {% for tag in site.tags %}
        <strong><p class="serif" id="{{ tag[0] }}">{{ tag[0] | capitalize }}</p></strong>
        <ul>
          {% for post in tag[1] %}
            <li>
              <p class="mb-dot25em">
                <a class="tag" href="{{ post.url | relative_url }}">
                    {{ post.title }}
                  </a>
              </p>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </section>

  <section class="articles">
    <h2 class="mb-dot5em center">Articles</h2>
    <div class="left">
      {% assign tags =  site.articles | map: 'tags' | uniq %}
      {% for temp in tags %}
        <strong><p class="serif" id="{{ temp }}">{{ temp | capitalize }}</p></strong>
        <ul>
          {% for article in site.articles %}
            {% if article.tags contains temp %}
            <li>
              <p class="mb-dot25em">
                <a href="{{ article.url | relative_url }}">
                  {{ article.title }}
                </a>
              </p>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </section>
</section>
