---
layout: static-pages
title: Post Tags
permalink: /tags/
---
<div class="left">
  {% for tag in site.tags %}
    <h4 class="pt-1em" id="{{ tag[0] }}">{{ tag[0] }}</h4>
    <ul>
      {% for post in tag[1] %}
        <li>
          <p class="tag">
            <a class="tag" href="{{ site.baseurl }}/{{ post.url }}">
                {{ post.title }}
              </a> |
            {{ post.date | date: "%b %d, %Y" }}
          </p>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
