<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<section class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">
    &laquo; Prev
  </a>
  {% else %}
  <span class="previous">&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em  class="page_number">{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/' | relative_url }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">
        {{ page }}
      </a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="next">Next &raquo;</a>
  {% else %}
  <span class="next ">Next &raquo;</span>
  {% endif %}
</section>
{% endif %}
