@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@400;500;700&family=Roboto:wght@100;400;700&display=swap');

/* Fonts */
$default-font-family: Roboto, sans-serif;
$serif-font-family: Gelasio, serif;
$h1-size: calc(1.5rem + 3vw);
$h2-size: calc(1.2rem + 2vw);
$h3-size: calc(1rem + 1.5vw);
$h4-size: calc(0.8rem + 1vw);

/* Device widths */
$small-device-fs: 75%;
$medium-device-fs: 87.5%;
$large-device-fs: 93.75%;
$xlarge-device-fs: 100%;

/* Colors */
$light-grey: #959595;
$default-color: gray;
$footer-bg-color: #e6e6e6;
$font-color: #333;
$light-color: #f3f3f3;
$important-color: red;
$information-color: blue;
$black-color: lighten(black, 5%);
$white-color: darken(white, 5%);

$dim-grey: #696969;
$sonic-silver: #757575;
$trolley-grey: #808080;
$spanish-gray: #989898;
$silver-chalice: #acacac;
$silver: #c0c0c0;
$light-gray: #d3d3d3;
$gainsboro: #dcdcdc;

/* Misc. */
$std-radius: 5px;

@import "style/normalize",
"style/base",
"style/layout",
"style/highlighting"
;
