@charset "utf-8";

/* Fonts */
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$system-serif: "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif",
  "Times","Source Serif Pro", serif;
$system-monospace: "SF Mono", "Monaco", "Inconsolata", "Fira Mono",
  "Droid Sans Mono", "Source Code Pro", monospace;
$h1-size: calc(1.5rem + 3vw);
$h2-size: calc(1.2rem + 2vw);
$h4-size: calc(0.8rem + 1vw);

/* Device widths */
$small-device-fs: 75%;
$medium-device-fs: 87.5%;
$large-device-fs: 93.75%;
$xlarge-device-fs: 100%;

/* Colors */
$light-grey: #959595;
$default-color: gray;
$footer-bg-color: #e6e6e6;
$font-color: darken($default-color, 60%);
$light-color: lighten($default-color, 40%);
$important-color: red;
$information-color: blue;
$black-color: lighten(black, 5%);
$white-color: darken(white, 5%);

/* Misc. */
$radius: 5px;

@import
"style/normalize",
"style/base",
"style/layout",
"style/highlighting"
;
