*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $light-color;
  font-family: $base-font-family;
  color: $font-color;
  min-height: 100vh;
  max-width: 65vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 9rem 0 8rem 0;
}

h1, h2, h3, h4, h5, h6,
ul, li, p, small {
  margin: 0;
}

ul, li {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $system-serif;
  line-height: 1;
}

h1 {
  font-size: $h1-size;
  letter-spacing: -0.1rem;
}

a.blog-author:hover,
h2 > a:hover {
  font-weight: bold;
  color: blue;
  background: transparent;
}

p, small {
  text-align: left;
  line-height: 1.5;
  margin: 0;
}

p {
  margin-bottom: 1em;
}

p > a {
  color: blue;
  padding: 0;
}

li {
  list-style-type: none;
}

.mb-1em {
  margin-bottom: 0.8em;
}

.mb-dot5em {
  margin-bottom: 0.5em;
}

a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: inherit;
  border-radius: $radius;
}

a:hover,
a:active {
  background: $light-grey;
}

.current {
  color: $important-color;
  font-weight: bold;
}

.left {
  text-align: left;
}

@media screen and (max-width: 640px) {
  font-size: 62.5%;
  max-width: 95vw;
}

@media screen and (max-width: 1007px) {
  font-size: 75%;
}

@media screen and (min-width: 1008px) {
  font-size: 100%;
}
