/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  &--nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $black-color;
    color: $white-color;

    &__logo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 1em 0 1em 1em;

      & h1 {
        color: $white-color;
      }
    }

    &__menu {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style-type: none;

      &:last-child {
        padding-right: 2.5em;
      }

      &-item {
        color: $white-color;
        cursor: pointer;
        outline: none;
        text-decoration: none;
        font-size: 1.1rem;
        border-radius: $radius;

        & > a {
          padding: 0.75em 1em;
        }
      }
    }
  }
}

/* Container (body) */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li.blog {
  border-top: 1px solid $default-color;
  padding-top: 1em;
}

li.bullet {
  list-style-type: square;
  margin-left: 1em;
}

li.bullet + li.bullet {
  margin-top: 0.5em;
}

.center {
  text-align: center;
}

/* Footer */

.footer {
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #e6e6e6;
  border-top: 1px solid $default-color;
  padding-top: 1em;

  &--nav {
    text-align: center;

    &__menu {
      display: flex;
      align-items: center;
      justify-content: center;

      &-item > a {
          padding: 0.75em 1em;
      }
    }
  }
}

.copyright {
  padding-top: 1em;
}
