/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  &--nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $black-color;
    color: $white-color;

    &__logo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 1em 0 1em 2em;

      & h1 {
        color: $white-color;
        font-weight: bold;
      }
    }

    &__menu {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      list-style-type: none;
      padding: 1em 2em 1em 0;

      &-item {
        font-size: 0.7rem;

        & > a {
          color: $white-color;
          text-decoration: underline;
          border-radius: $radius;

          &.current {
            color: $important-color;
          }
        }
      }
    }
  }
}

.menuToggle {
  display: block;
  position: relative;
  top: 1em;
  right: 1em;
  z-index: 1;

  & a {
    color: $white-color;
    transition: color 0.3s ease;
  }

  & .checkbox {
    display: block;
    cursor: pointer;
    width: 2.5em;
    height: 2em;
    position: absolute;
    top: 1em;
    right: 1em;
    opacity: 0;
    z-index: 2;
  }

  & span {
    display: block;
    width: 2em;
    height: 4px;
    position: relative;
    background: $white-color;
    border-radius: 3px;
    z-index: 1;
    margin-bottom: 5px;
    transform-origin: 4px 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                opacity 0.55s ease;

    &:first-child {
      transform-origin: 0 0;
    }

    &:nth-last-child(2) {
      transform-origin: 0 100%;
    }
  }

  & .checkbox:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: $black-color;
  }

  & .checkbox:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  & .checkbox:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
}

.menu {
  position: absolute;
  width: 25vw;
  background: $light-color;
  list-style-type: none;
  border: 2px solid $black-color;
  margin: -6.5em -3.1em 0 0;
  padding: 4em 3.1em 3.1em 3.1em;
  transform-origin: 0 0;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

  & li {
    font-size: 125%;
    padding: 0.625em;

    & a {
      color: $black-color;
    }
  }
}

.menuToggle .checkbox:checked ~ .menu {
  transform: translate(-100%, 0);
}

/* Container (body) */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.static {
  display: block;
  padding-bottom: 1.5em;
}

li.author,
li.blog,
li.article,
li.list,
section.staff {
  border-top: 1px solid $default-color;
  padding-top: 1em;
}

li.bullet {
  list-style-type: square;
  margin-left: 1em;
}

li.bullet::marker {
  vertical-align: middle;
}

li.bullet + li.bullet {
  margin-top: 0.5em;
}

.center {
  text-align: center;
}

.image {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  & > img {
    max-width: 100%;
    border: 1px solid $black-color;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  }

  & > figcaption {
    font: italic smaller sans-serif;
  }
}

.post-content,
.container {
  padding-top: 1em;
}

p.excerpt::after {
  content: '...';
}

.tags-page {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2vw;
}

h1.article-title {
  text-align: left;
}

fieldset.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25vw;
  max-width: 100%;
}

section.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Footer */

.footer {
  width: 100vw;
  background-color: $footer-bg-color;
  border-top: 1px solid $default-color;
  padding-top: 1em;

  &--nav {
    text-align: center;

    &__menu {
      display: flex;
      align-items: center;
      justify-content: center;

      &-item > p {
        padding: 0.5em 1em 0 1em;
      }
    }
  }

  & > div > p {
    margin-bottom: 0.25em;
  }
}
