:root {
  --print-color: #000;
  --print-bg: #fff;
}

body * {
  width: 100%;
  display: none;
  color: var(--print-color);
  background-color: var(--print-bg);
}

.printable,
.printable * {
  display: block;
}

.printable figure,
.printable svg {
  display: none;
}

header {
  break-after: avoid;
  break-inside: avoid;
  padding-bottom: 1em;
}

p {
  font-size: 110%;
}

@media print {
  @page {
    margin: 1in;
  }
}
