---
layout: default
---

<header class="mb-1em">
  <h1 class="heading center">{{ page.title }}</h1>
  {% if page.subtitle %}
  <h2 class="heading center">{{ page.subtitle }}</h2>
  {% endif %}
</header>

{% if page.image-name and page.image-location %}
<figure class="image">
  <img src="{{ site.baseurl }}{{ page.image-location }}"
       alt="{{ page.alt-text }}" class="post-img mb-dot5em">
  <figcaption class="caption mb-1em">{{ page.image-name }}</figcaption>
</figure>
{% endif %}

<main class="container printable">
  {{ content }}
</main>
